

#header p:after {
    content: " |";
    animation-name: typing ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes typing {
    0% {content: "D|";}
    1% {content: "De|";}
    2% {content: "Des|";}
    3% {content: "Desi|";}
    4% {content: "Desig|";}
    5% {content: "Design|";}
    6% {content: "Designe|";}
    7% {content: "Designer|";}
    8% {content: "Designe|";}
    9% {content: "Design|";}
    10% {content: "Desig|";}
    11% {content: "Desi|";}
    12% {content: "Des|";}
    13% {content: "De|";}
    12% {content: "D|";}
    13% {content: "|";}
    14% {content: "D|";}
    15% {content: "De|";}
    16% {content: "Dev|";}
    17% {content: "Deve|";}
    18% {content: "Devel|";}
    19% {content: "Develo|";}
    20% {content: "Develop|";}
    21% {content: "Develope|";}
    22% {content: "Developer|";}
    23% {content: "Develope|";}
    24% {content: "Develope|";}
    25% {content: "Develop|";}
    26% {content: "Develo|";}
    27% {content: "Devel|";}
    28% {content: "Deve|";}
    29% {content: "Dev|";}
    30% {content: "De|";}
    31% {content: "D|";}
    32% {content: "|";}
    33% {content: "P|";}
    34% {content: "Ph|";}
    35% {content: "Pho|";}
    36% {content: "Phot|";}
    37% {content: "Photo|";}
    38% {content: "Photog|";}
    39% {content: "Photogr|";}
    40% {content: "Photogrp|";}
    41% {content: "Photogrph|";}
    42% {content: "Photogrphe|";}
    43% {content: "Photogrpher|";}
    44% {content: "Photogrphe|";}
    45% {content: "Photogrph|";}
    46% {content: "Photogrp|";}
    47% {content: "Photogr|";}
    48% {content: "Photog|";}
    49% {content: "Photo|";}
    50% {content: "Phot|";}
    51% {content: "Pho|";}
    52% {content: "Ph|";}
    53% {content: "P|";}
    54% {content: "D|";}
    55% {content: "De|";}
    56% {content: "Des|";}
    57% {content: "Desi|";}
    58% {content: "Desig|";}
    59% {content: "Design|";}
    60% {content: "Designe|";}
    61% {content: "Designer|";}
    62% {content: "Designe|";}
    63% {content: "Design|";}
    64% {content: "Desig|";}
    65% {content: "Desi|";}
    66% {content: "Des|";}
    67% {content: "De|";}
    68% {content: "D|";}
    69% {content: "|";}
    70% {content: "D|";}
    73% {content: "De|";}
    75% {content: "Dev|";}
    76% {content: "Deve|";}
    77% {content: "Devel|";}
    80% {content: "Develo|";}
    82% {content: "Develop|";}
    84% {content: "Develope|";}
    86% {content: "Developer|";}
    88% {content: "Develope|";}
    90% {content: "Develope|";}
    91% {content: "Develop|";}
    92% {content: "Develo|";}
    94% {content: "Devel|";}
    95% {content: "Deve|";}
    96% {content: "Dev|";}
    97% {content: "De|";}
    98% {content: "D|";}
    99% {content: "|";}
    100% {content: "|";}
}